{
    "extends": [
        "adpyke-es6"
    ],
    "globals": {
        "ClipboardItem": true
    },
    "env": {
        "browser": false,
        "node": true
    },
    "rules": {
        "arrow-parens": "off",
        "comma-dangle": "off",
        "indent": "off",
        "operator-linebreak": "off",
        "quotes": "off",
        "semi": "off",
        "space-before-function-paren": "off",
        "strict": "off"
    }
}
