.vscode/**
.vscode-test/**
node_modules/**
ref/**
scripts/**
test/**
examples/**
src/**
webview/vendor/**
webview/src/**
.gitignore
tsconfig.json
tsconfig.webview.json
eslint.config.js
tailwind.config.js
vsc-extension-quickstart.md
**/*.map
**/.eslintrc.json
image/showcase*
